header.navbar_header {
  background: var(--c-7);
  padding-bottom: 1rem;
  border-bottom: 0.1rem solid var(--c-5);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 99;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 0;
}
.logo {
  font-size: 4rem;
  text-transform: uppercase;
  color: var(--c-1);
}
.nav_list {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.nav__list__items.active_user_nav_item {
  display: none;
}
.nav__list__items {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
  white-space: nowrap;
  position: relative;
}
.nav__list__items:hover .drop_down {
  opacity: 1;
  visibility: visible;
}

.nav_list .drop_down {
  position: absolute;
  background: var(--c-6);
  top: 150%;
  border-radius: 1.2rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}
.drop__down__nav__list__items {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
  white-space: nowrap;
  padding: 1rem 1.5rem;
}
.drop__down__nav__list__items a {
  color: var(--c-3);
}

.nav__list__items a {
  color: var(--c-3);
  position: relative;
}
.nav__list__items a::after {
  content: "";
  position: absolute;
  bottom: -0.4rem;
  left: 50%;
  transform: translateX(-50%);
  background: var(--c-2);
  height: 0.3rem;
  width: 0%;
  transition: all 250ms ease-in-out;
}
.nav__list__items a:hover::after {
  width: 100%;
}

.navbar__actions {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.search__box {
  display: flex;
  align-items: center;
  border: 0.1rem solid var(--c-5);
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
}

.search_btn {
  background-color: transparent;
  border: 0;
}

.search__box input {
  width: 100%;
  border: 0;
  outline: none;
  background: transparent;
  font-size: 1.6rem;
  line-height: 1.5rem;
  font-weight: 600;
}

.search__box img {
  cursor: pointer;
}

.menu__icon,
.menu__cross__icon {
  display: none;
}

.menu__icon,
.menu__cross__icon {
  border: 0;
  outline: 0;
  cursor: pointer;
  background-color: transparent;
}
.menu__icon img,
.menu__cross__icon img {
  width: 4rem;
  height: 4rem;
}

.nav_list_mobile {
  display: none;
}

@media (min-width: 350px) and (max-width: 1024px) {
  .menu__icon,
  .menu__cross__icon {
    display: block;
  }
  .nav_list {
    display: none;
  }
  .nav_list_mobile {
    background-color: var(--c-2);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100vh;
    /* display  : flex; */
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
  }
  .nav_list_mobile .nav__list__items a {
    color: var(--c-7);
    display: block;
    text-align: center;
    font-size: 2rem;
  }
  .active_mobile_menu.nav_list_mobile {
    display: flex !important;
  }
}
