@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --c-1: #6fbd6f;
  --c-2: #f7684d;
  --c-3: #111111;
  --c-4: #fafafa;
  --c-5: #a1a1a1;
  --c-6: #e5e5e5;
  --c-7: #ffffff;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%; /*1rem = 10px*/
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}

.container {
  max-width: 144rem;
  margin: 0 auto;
}
